@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #092532;
  line-height: 1.6;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 30vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #092532;
  color: #fff;
  overflow-x: hidden;
  padding: 40px 20px;
}

.sidebar h1 {
  font-family: "Staatliches", Lato;
  font-size: 3rem;
  font-weight: 200;
}

.sidebar h2 {
  font-weight: 400;
}

.sidebar p {
  padding: 10px 0;
}

.sidebar .btn {
  margin: 10px 0;
}

.sidebar ul {
  display: flex;
  margin-left: 5px;
  list-style-type: none;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  padding-right: 30px;
}

.main {
  margin-left: 25rem;
  max-width: 70vw;
  display: flex;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/**********Projects area ***************************/

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.heading h2 {
  text-align: center;
  font-weight: 400;
}

/* Main */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  justify-items: center;
}

.projects h4 {
  text-align: center;
  margin: 1rem 0;
}

/*footer*/

.footer {
  height: 30vh;
  background: #092532;
}