.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background: #6da093;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background: #1e5f74;
}

.card {
  display: flex;
  margin: 0 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: 20rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.card img {
  flex-basis: 40%;
  position: relative;
  width: 140px;
}

.card-contents {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-basis: 60%;
  justify-content: space-between;
  max-width: 100%;
}

.card-contents p {
  max-width: 100%;
  font-weight: bold;
  font-size: 1rem;
}

.card .btn-card {
  cursor: pointer;
  display: inline-block;
  padding: 20px 30px;
  color: #fff;
  background: #092532;
  width: 100%;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}

.card a {
  text-decoration: none;
  color: #fff;
}
